<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codepath.fayberapp">


<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/fayber"
        android:label="FayBer Agency"
        android:largeHeap="true"
        android:roundIcon="@drawable/fayber"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="activities.FayActivity"
            android:label="FayBer Agency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activities.LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="activities.AccueilActivity" />

        <activity android:name="activities.localisationActivity" />

        <activity
            android:name="activities.DetailsActivity"
            android:screenOrientation="portrait"
            android:label="Details" />
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name="activities.SignInActivity"
            android:screenOrientation="portrait"
            android:label="Connecter" />
        <activity
            android:name="activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:label="Enregistrer" />
        <activity android:name="activities.FicheDemandeActivity" />
        <activity android:name="activities.ResponseActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="activities.TeamFayBerActivity" />

        <activity android:name=".PartenaireActivity" />
        <activity android:name=".AproposActivity"
            android:screenOrientation="portrait"/>



        <activity android:name=".MyBrowser"></activity>

    </application>

</manifest>